
.desafio1{
color: orange;
background-color: gray;
}
#lista1{
    list-style-type: upper-roman;
    color: blue;
    background-color: gray;
}
#lista2{
    list-style-type: square;
    color: blue;
    background-color: gray;
    width: 400px;
}
